.wrapper {
    margin: 5px;
} 

.face  {
  width: 75px;
  height: 75px;
  border: solid 2px black;
  background-color: yellow;
  border-radius: 50px;
}

.eye {
    width: 6px;
    height: 6px;
    border: solid 1px black;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    background-color: white;
}

.left {
    left: 32px;
    top: 26px;
}

.right {
    left: 54px;
    top: 18px;
}

.mouth {
    width: 30px;
    height: 10px;
    border: solid 1px black;
    border-radius: 0 0 45px 45px;
    margin: 16px;
    position: relative;
    top: 1em;
    left: 1em;
    background-color: black;
}

.tongue {
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 0 0 45px 45px;
    position: relative;
    top: 7px;
    left: 10px;
    background-color: red;
}

.pupil {
    width: 2px;
    height: 2px;
    border: solid 1px black;
    border-radius: 2px;
    position: relative;
    top: 1px;
    left: 2px;
    background-color: black;
}

.mustache {
    width: 28px;
    height: 0.25px;
    border: solid 1px black;
    border-radius: 80%;
    position: relative;
    left: 33px;
    top: -16px;
    background-color: black;
}

.eyebrow-left {
    width: 7px;
    height: 0.25px;
    border: solid 1px black;
    border-radius: 5px;
    position: relative;
    left: 30.5px;
    top: -40px;
    transform: rotate(-25deg);
    background-color: black;
}

.eyebrow-right {
    width: 7px;
    height: 0.25px;
    border: solid 1px black;
    border-radius: 5px;
    position: relative;
    left: 54px;
    top: -42.5px;
    transform: rotate(25deg);
    background-color: black;
}

.ear {
    width: 3px;
    height: 10px;
    border: solid 1px black;
    border-right: none;
    border-radius: 10px;
    position: relative;
    left: 8px;
    bottom: 37px;
}